@charset "utf-8";

/* Import fonts from Typekit */
@import url("https://use.typekit.net/pgg3zqi.css");

/* Typography */
body { font-family: 'Lato', Arial, Helvetica, sans-serif; font-size: 1em; color: #093853; }
h1, h2, h3, h4, h5, h6 { font-family: 'Industry', sans-serif; font-weight: bold; }

/* Global Styles */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Header */
header {
  background: #093853;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .brand {
  
}

header nav {
  
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
}

header nav ul li a {
  padding: 1em 1em;
  border-bottom: 2px solid red;
}
