@charset "utf-8";

/* Import fonts from Typekit & Google Fonts */
@import url("https://use.typekit.net/pgg3zqi.css");
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

/* Typography */
body { font-family: 'Lato', Arial, Helvetica, sans-serif; font-size: 1em; color: #093853; }
h1, h2, h3, h4, h5, h6 { font-family: 'Industry', sans-serif; font-weight: bold; }

/* CSS Document */
body {
  margin: 0;
}
nav {
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #1b1b1c;
  position: fixed;
}
.header {
  height: 600px;
  width: 100%;
  background-color: #f9f9f9;
}
.middle {
  height: 300px;
  width: 100%;
  background-color: #1b1b1c;
}
.showcase {
  height: 600px;
  width: 100%;
  background-color:  #f9f9f9;
}
.footer {
  height: 50px;
  width: 100%;
  background-color: #1b1b1c;
}
